---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/container.astro";

const { slug } = Astro.params;

let res = await fetch(`https://xirurgabdukarim.uz/wp-json/wp/v2/speakingvocabulary?slug=${slug}`)
let [post] = await res.json();

// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.
export async function getStaticPaths() {
  let data = await fetch("https://xirurgabdukarim.uz/wp-json/wp/v2/speakingvocabulary?per_page=100")
  let posts = await data.json();

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post: post },
  }));
}
---
<Layout title={post.title.rendered}>
   <Container>
    <div class="mx-auto max-w-3xl mt-14">
      <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
        Speaking Topics
      </span>
          <h1 set:html={post.title.rendered}  class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight"/>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-gray-400">
          Kubayev Javlon
        </span>
        <span class="text-gray-400">•</span>
        <time
          class="text-gray-400">
          {post.date}
        </time>
        <span class="text-gray-400 hidden md:block">•</span>
        <div class="w-full md:w-auto flex flex-wrap gap-3">
        </div>
      </div>
    </div>

    <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
          <Fragment set:html={post.content.rendered} />
    </div>
    <div class="text-center mt-8">
      <a
        href="/topic-vocabulary"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Topics</a
      >
    </div>
  </Container>
</Layout>
